*{
    border-style:solid;
    border-color:darkred;
}

body{
    font-family: Krub;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.flex-container{
    display:flex;
    flex-direction: row;
}

.flex{
    flex: 1 1 auto;
}

.header{
    height: 85px;
    background-color: darkcyan;
}

.title{
    height:120px;
    justify-content: center;
}

.content{
    min-height:700px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    height:160px;
}